
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// toastr
@import '~toastr/build/toastr.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
};
.login {
  background : url("../img/wallpaper/login.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.login .login-content{
  width: 450px;
  height: 300px;
  background-color: rgba(0,0,0,0.3);
  padding:20px;
  padding-top: 0px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  border-radius:3px;
}
.login .login-content > .login-icon {
  background-color: rgba(0,0,0,0.5);
  border-radius: 100%;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 56px;
  position: relative;
  top:-30px;
  box-shadow: 0px 0px 4px rgba(0,0,0,1);
}
.login .login-icon > .icon-user{
  color: white;
  font-size: 42px;
}
.login .login-content label,.login .login-content input{
  color: white !important;
}
